<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

  </head>
  <body>


   


<div class="container mt-5">
  <div class="row">
   
    {{#each response}}



    <div class="col-md-4">
      <div class="card">
        <img src="/stylesheets/images/employee.png" class="card-img-top" alt="..." width="20rem" height="250rem">
       <div class="card">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Age: {{age}}</p>
    <p class="card-text">Email: {{email}}</p>
     <p class="card-text">Joining Date: {{formattedDate}}</p>
     <p class="card-text">Experience: {{experience}}</p>

    
    
    
{{#if isExperienceGreaterThan5}}
<a class="btn btn-primary" href="/ceo/appoint-manager?id={{this._id}}&departmentid={{this.departmentid}}&manager_name={{this.name}}">Appoint as Manager</a>

{{else}}
<button class="btn btn-secondary" disabled>Not Eligible</button>
{{/if}}

  </div>
</div>

      </div>
    </div>
    {{/each}}
   
  
  </div>
</div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>